<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] || Moment 2</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <a href="#">Moment 2</a>
            </div>

            <div class="menu-icon" id="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-list" id="nav-list">
                <li><a href="#">Hem</a></li>
                <li><a href="#">Om oss</a></li>
                <li><a href="#">Tjänster</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <script src="~/js/main.js"></script>
</body>
</html>