@{
    ViewData["Title"] = "L채gg till";
}


<h1>L채gg till Kampsport</h1>

<form asp-action="AddMartialArt" method="post">
    <label for="MartialArtName">Kampsport</label>
    <input type="text" id="MartialArtName" name="MartialArtName" required/>

    <label for="Description">Beskrivning</label>
    <textarea type="text" id="Description" name="Description" required></textarea>

    <label for="Link">L채nk</label>
    <input type="text" id="Link" name="Link" required>

    <button type="submit">L채gg till</button>
</form>
