@{
    ViewData["Title"] = "Din kampsport";
}

<h1>Ny Kampsport</h1>

<div class="AddedArt">
    <h3>@ViewBag.MartialArtName</h3>
    <p>@ViewBag.Description</p>
    <a href="@ViewBag.Link">Läs mer</a>
</div>